node_modules/
**/node_modules/
.swc

__pycache__/
**/__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
venv/

.env*
!.env.example
env
env.*
*.env
.env.local
.env*.local

dist/
build/
.next/
**/.next/
out/
tsconfig.tsbuildinfo

coverage
coverage/
**/coverage/
*.lcov
htmlcov/
htmlcoverage/
.coverage
coverage.xml

tests/e2e/videos/
tests/e2e/screenshots/
generated_reports/

.git/
.gitignore
.dockerignore
.vscode/
.idea/
*.code-workspace
*.log
.DS_Store
Thumbs.db