# Dependencies
node_modules/
__pycache__/
*.pyc

# ENV Files
.env*
!.env.example
env
env.*
*.env
!example.env

# Build Output
dist/
.next/
out/
.swc/

# Test Coverage
coverage/
*.lcov

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE
*.code-workspace
